.credentials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.credentials-container-outer {
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 1px rgb(143, 141, 141);
  background-color: white;
  width: 18vw;
  height: auto;
  margin: 1em;
}

.credentials-container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 18vw;
  height: auto;
  justify-content: center;
}

.division-name-container {
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 1px rgb(143, 141, 141);
  background-color: white;
}
